.terug {
    float: left;
    background-color: #0096E0;
    border: solid black 2px;
    width: 200px;
    height: 80px;
    padding: 20px;
    margin-top: 20px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}