#playField{
    height: 600px;
    width: 800px;
    border: 1px solid black;
}


#target {
    position: absolute;
}

#icoon {
    position: relative;
    left: 80px;
    float: left;
}

#klik {
    position: relative;
    height: unset;
    width: 80px;
}